$colors: (
  'white': $white,
  'gray-darker': $gray-darker,
  'gray-dark': $gray-dark,
  'gray': $gray,
  'gray-light': $gray-light,
  'gray-lighter': $gray-lighter,
  'black': $black,
  'blue': $blue,
  'red': $red,
  'green': $green,
  'yellow': $yellow
);

@each $color, $hex in $colors {
  .#{$color} {
    color: $hex;
  }
  .bg-#{$color} {
    background-color: $hex;
  }
}
