body {
  background: $white;
}

.logo {
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
}
