<%= render 'shared/steps' %>

<div class="container">

  <h1 class="page-title">Invite your whole team.</h1>

  <p>Oh, don't worry about inviting your whole company. There's no extra cost or limit to how many users you have associated with your account. So you can invite everyone to chime in, even the CEO.</p>

  <%= render 'accounts/team' %>

  <p>Think you might need to add a few more people? You can always invite more users from the account settings page</p>

  <div class="form-group">
    <%= link_to 'Continue to try out the inbox', demo_account_path(@account), class: 'btn btn-primary' %>
  </div>

</div>
