.full-height {
  min-height: 100%;
}

.btn {
  &:focus,
  &.focus,
  &:active,
  &.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

/* sticky footer */
html,
body {
  height: 100%;
}
