.list {
  padding-top: 4px;

  > .list-item {
    margin-top: 10px;
    border-bottom: 1px solid $brand-border;

    > .btn-group {
      margin-top: 5px;
    }
  }
}

.list-conversations {
  padding-top: $padding-base-vertical;
  overflow-y: visible;

  > .list-item {
    border: none;
  }
}
