$container-width: 64em !default;

// Custom Media Query Variables

$breakpoint-sm: '(min-width: 32em)';
$breakpoint-md: '(min-width: 48em)';
$breakpoint-lg: '(min-width: 64em)';

$white: #fff;
$gray-darker: #24292e;
$gray-dark: #48515b;
$gray: #6c7989;
$gray-light: #d4d8dd;
$gray-lighter: #f1f2f4;
$black: $gray-darker;

$blue: #51b9db;
$red: #ef540c;
$green: #62d962;
$yellow: #ffde47;
